<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>QYZone.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>23F983331CC48E0200DBC0FB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>23F9834C1CC48E0200DBC0FB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>23F983571CC48E0200DBC0FB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
